# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cmake

# Build directories
/build/
/bin/
/_deps/



# CMake files
CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json
*.cmake

# Library archives
zip_files/

# Decompressed headers
lib/
  
# IDE files
*.user
*.suo
*.vcxproj*
*.idea/
.vs/

# OS files
.DS_Store
Thumbs.db

# Ninja related files
.ninja_deps
.ninja_log
build.ninja

# VSCode folder
.vscode/settings.json
/.vscode
.vs/